body{
	color: white;
	font-size: 2em;
	font-family: Arial;
}

.slide{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

textarea{
	max-width: 1000px;
	width: 100%;
	height: 50vh;
	max-height: 750px;
	font-size: 1em!important;
	background: transparent;
	border: none;

	/* Vertical */
	order: 2;
	margin: 0 auto;
	padding-top: 24px;
}

.fail textarea{
	max-height: 320px;
}
.works textarea{
	max-height: 300px;
}

.col{
	flex-grow: 1;
}
.flota{
	order: 1;
}

.el{
	margin-top: 40px;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	background-color: #700;
	color: #FFF;
}


.checks{
	max-width: 200px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around
}

.check{
	display: inline-block;
	margin: 0 30px;
}

.check-active{
	background-color: chocolate;
	box-shadow: inset 0 0 2px 2px white;
}

.check1{
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 5px solid brown;
}

.check2:focus{
	outline: 4px dashed skyblue;
}

.check3[aria-checked="true"]{
	background-color: chocolate;
	box-shadow: inset 0 0 2px 2px white;
}